
@font-face {
  font-family: 'OpenDyslexic';
  src: url('OpenDyslexic-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.default-font {
  font-family: Arial, sans-serif !important;
}

.dyslexia-font {
  font-family:'OpenDyslexic', Arial, sans-serif !important;
}


